<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a class="active" href="/create">Create</a>
    </div>
    <div class="form-add-user">
      <form action="/create-user" method="post">
        <fieldset>
          <legend>Add new user:</legend>
          <div class="input-group">
            <label>Email:</label>
            <input name="Email" type="text" /><br /><br />
          </div>
          <div class="input-group">
            <label>Name:</label>
            <input name="Name" type="text" /><br /><br />
          </div>
          <div class="input-group">
            <label>City:</label>
            <input name="City" type="text" /><br /><br />
          </div>
          <div class="btn-save">
            <button>Save</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
